
p.partial-highlight-mint{
  background: linear-gradient(white 62%,#d5efe0 0,#d5efe0 39%,#d5efe0 80%);
  width: fit-content;
}

h2.partial-highlight-mint{
  background: linear-gradient(white 62%,#d5efe0 0,#d5efe0 39%,#d5efe0 80%);
  width: fit-content;
}

p.mint{
  color:#d5efe0;
}

h2.mint{
  color:#d5efe0;
}


p.yellow{
  color:#f9c947;
}


h2.yellow{
   color:#f9c947;
}

h3.yellow{
  color:#f9c947;
}

h4.yellow{
  color:#f9c947;
}



img.one-third {
  display: inline-block;
  width: calc(33% - 1rem);
  height:33%;
  margin: 0.5rem !important;
}

img.two-thirds {
  display: inline-block;
  width: calc(66% - 1rem);
  height:66%;
  margin: 0.5rem !important;
}

img.one-half {
  display: inline-block;
  width: calc(50% - 1rem);
  height:50%;
  margin: 0.5rem !important;
}

img.float-left {
  max-width:50%;
  height:50%;
  float: left;
  margin: 0 2rem 0.5rem 0 !important;
}

img.float-right {
  max-width:50%;
  height:50%;
  float: right;
  margin: 0 0 0.5rem 2rem !important;
}

img.small-centered {
  max-width: 300px;
  margin:auto;
}

p.clear-images-paragraph {
  clear: both;
}

h2.clear-images-h2 {
  clear: both;
}
h3.clear-images-h3 {
  clear: both;
}

.align-to-left {
  text-align: left;
}
.align-to-center {
  text-align: center;
}
.align-to-right {
  text-align: right;
}
