p.callout {
  border: 1px solid #417bfd;
  border-radius: 3px;
  padding: 10px 15px;
  background-color: #edf1ff;
}

span.partial-highlight-mint{
  background: linear-gradient(white 17%,#d5efe0 0%, #d5efe0 60%, #d5efe0 80%, white 25%);
}


h2.yellow, h3.yellow, h4.yellow, p.yellow{
  color:#f9c947;
}

h2.mint, h3.mint, h4.mint, p.mint{
  color:#d5efe0;
}
