---
layout: primary
title: Food
main_heading: Recipe Development + Food Photography
featured-gallery:
  - featured_image: /images/chickencurry.png
    heading: Curried Chicken with Vegetables
  - featured_image: /images/avocadoeggs.png
    heading: Avo Toast with Poached Eggs
  - featured_image: /images/shrimp.png
    heading: Garlic Shrimp with Mushy Peas
  - featured_image: /images/shrimp.png
    heading: Garlic Shrimp with Mushy Peas
  - featured_image: /images/chickencurry.png
    heading: Curried Chicken with Vegetables
  - featured_image: /images/avocadoeggs.png
    heading: Avo Toast with Poached Eggs

---
<section class="grid featured-gallery" id="featured">

  {% for item in page.featured-gallery %}

  <div class="col-4_sm-12-middle gallery-item">
    <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}">
      <div style="background-image:url({{item.featured_image}})" class="gallery-image">
        <div class="overlay"> <br> {{item.heading}}</div>
      </div>
        <div class="heading-mobile"> <br> {{item.heading}}</div>
    </a>
  </div>

  {% endfor %}


  {% for item in page.featured-gallery offset:8 %}

  <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}"></a>

  {% endfor %}
</section>
