---
layout: default
title: Food
main_heading: Recipe Development + Food Photography
featured-gallery:
  - featured_image: /images/BilhaGrad.jpeg
    heading: heres a sample
  - featured_image: /images/BilhaGrad.jpeg
    heading: 2
  - featured_image: /images/Easel.jpg
    heading: 3
  - featured_image: /images/BIlhaFamily.jpeg
    heading: 4
  - featured_image: /images/bilha-port.jpeg
    heading: Lemony Garlic Collard Greens
  - featured_image: /images/BilhaGrad.jpeg
    heading: heres a sample
  - featured_image: /uploads/dsc-0567.jpg
    heading: Mexican-Inspired Savory Oat Bowl
  - featured_image: /uploads/img-6390.jpg
    heading: Immunity Boosting Three Berry and Ginger Smoothie
  - featured_image: /uploads/dsc-0511.jpg
    heading: Paprika Spiced Egg Salad Wraps
  - featured_image: /uploads/img-6379-2.jpg
    heading: Lemony Garlic Collard Greens
  - featured_image: /uploads/img-1510-2.jpg
    heading: Vegetarian Red Bean Burgers with Jalapeño Aioli
  - featured_image: /images/nmv-pancakes.jpeg
    heading: Healthy Pink Banana Pancakes
  - featured_image: /images/greensoup.jpg
    heading: Healthy Green Vegetable Soup
  - featured_image: /images/salmon-couscous-salad.jpg
    heading: Salmon and Couscous Salad
  - featured_image: /images/enemon-chickencurry.jpg
    heading: Chicken Curry Bowl
  - featured_image: /images/brusselsprouts.jpg
    heading: Roasted Brussel Sprouts with Pomegranate Seeds
  - featured_image: /images/enemon-tortilla.jpg
    heading: Flat Tortilla Platter
  - featured_image: /images/avocadoeggs.png
    heading: Avo Toast with Poached Eggs
  - featured_image: /images/shakshuka.JPG
    heading: Shakshuka with Feta
  - featured_image: /images/tomato-pasta.JPG
    heading: Pasta with Tomato Sauce and Roasted Tomatoes
  - featured_image: images/veggiemole.jpg
    heading: Black Bean and Sweet Potato Mole Enchiladas
  - featured_image: /images/enemon-salmonbowl.JPG
    heading: Healthy Salmon Bowl
  - featured_image: /images/shrimp.png
    heading: Garlic Shrimp with Mushy Peas
  - featured_image: /images/egg-lentil-breakfast.JPG
    heading: Lentil and Vegetable Mix with Poached Egg
  - featured_image: /images/chickencurry.png
    heading: Curried Chicken with Vegetables
  - featured_image: /images/tomatogalette.png
    heading: Heirloom Tomato Galette
  - featured_image: /images/whitebeanclams.png
    heading: Bon Appetit Clams with White Beans
  - featured_image: /images/veggielasgna.png
    heading: Vegetarian Lasagna with Tofu "Meat"
  - featured_image: images/homemadebread.png
    heading: Homemade Ciabatta Bread
  - featured_image: /images/falafel.png
    heading: Goldie's Falafel Wrap
---

<section class="grid featured-gallery" id="featured">

  {% for item in page.featured-gallery %}

  <div class="col-4_sm-12-middle gallery-item">
    <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}">
      <div style="background-image:url({{item.featured_image}})" class="gallery-image">
        <div class="overlay"> <br> {{item.heading}}</div>
      </div>
        <div class="heading-mobile"> <br> {{item.heading}}</div>
    </a>
  </div>

  {% endfor %}


  {% for item in page.featured-gallery offset:8 %}

  <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}"></a>

  {% endfor %}
</section>
