---
layout: default
title: home
desktop-header_image: /uploads/webdesigndevelopment.png
mobile-header_image: /uploads/mobile-header.png
header-title_html: <p>inclusive</p><p>website&nbsp;</p><p>design + development</p>
icon_image: /uploads/bracket.png
marquee: >-
  now booking august 2021  //  now booking august 2021  //  now booking august
  2021  //  now booking august 2021  //  now booking august 2021  //  now
  booking august 2021  //now booking august 2021  //  now booking august 2021
  //  now booking august 2021  //  now booking august 2021  //  now booking
  august 2021  //  now booking august 2021  //
quote_html: <h1>BIEN</h1><h1>VENI</h1><h1>DXS</h1>
intro-text_html: >-
  <p>I&lsquo;m an extroverted, people-loving anthropologist and web developer.
  I&rsquo;ve lived around the world, building a collection of memories of people
  that have inspired my web design style. I strive to build pages that showcase
  each of my clients&rsquo; vibrant personalities.&nbsp;</p>
services:
  - service_image: /uploads/136955649-858241401677765-459237664085633508-n.jpg
    service-title: Custom Coded Websites
    service_html: >-
      <p>Your website is like a second skin, it displays who you are: your
      hopes, your goals, your business dreams. It&rsquo;s time to show the world
      (wide web) exactly who you are, one piece of code at a time.&nbsp;<br
      />&nbsp;</p><p>&nbsp;</p>
    service_url: /web-dev.html
  - service_image: /uploads/fabricpainting.jpeg
    service-title: Coding + Design Guides
    service_html: >-
      <p>Whether you&rsquo;re just starting out &nbsp;on your design journey or
      you&rsquo;re a veteran hacker, these tips and tricks are aimed at
      streamlining your code/design process so you can work smarter not
      harder.&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    service_url: /blog.html
testimonials:
  - quote_html: >-
      <p>We came to Natasha with no clear design criteria, except we wanted
      &ldquo;<em>clean</em>&rdquo; and &ldquo;<em>sophisticated</em>.&rdquo;
      With that pittance of direction Natasha delivered beyond all of our
      expectations.</p><p>&nbsp;</p><p>I am proud to provide our clients,
      potential clients, friends, family, competitors and colleagues with our
      URL to &ldquo;check&rdquo; out us and our practice. All thanks to
      Natasha!</p>
    client: 'Marcy Pettitt, PHH Law Group'
  - quote_html: >-
      <p>Natasha is such a pleasure to work with, from start to finish. I came
      to her with a website idea and she brought my vision to life almost
      instantly.</p><p>&nbsp;</p><p>I&rsquo;m so excited about the finished
      product that she created! I will absolutely be working with her
      again.&nbsp;</p>
    client: 'Jessie Bosley, JB Creative Consulting'
  - quote_html: >-
      <p>Tash is super friendly and so switched on, she totally got my project
      and brought it to life. She worked around the clock and was always
      available to help. I got incredible value from her and would recommend her
      to anyone wanting to start or update their website.</p>
    client: 'Hugo Worsley, All Day Knives'
  - quote_html: >-
      <p>Working with Natasha on my website was such a breeze. She listened well
      and was able to bring my vision to life in a short period of time. The
      product is playful and professional and exactly as I hoped. I would highly
      recommend her. &nbsp;</p>
    client: 'Chase Wilmot, Chase Wilmot Life Coaching'
  - quote_html: >-
      <p>You get exactly what you ask for when you work with Natasha. She makes
      sure you are happy throughout the whole process and communicates really
      well. She will customize all of your wants and needs to your satisfaction.
      I'm overjoyed because my visions have come to life. My website looks
      exactly how I always dreamed it would. &nbsp;</p>
    client: 'Miika Kivilo, Miika Kivilo Art'
---

<header class="grid primary-header relative" style="background-image:url({{page.desktop-header_image}})">
  <div class="text-overlay">
    <h2>{{page.header-title_html}}</h2>
  </div>
  <div class="icon-overlay">
    <img src="{{page.icon_image}}" />
  </div>
</header>

<header class="grid mobile-header relative" style="background-image:url({{page.mobile-header_image}})">
  <div class="text-overlay">
    <h2>{{page.header-title_html}}</h2>
  </div>
</header>


<div class="marquee">
  <div class="track">
    <div class="marquee-content"><a href="/contect"><p>{{page.marquee}}</p></a></div>
  </div>
</div>


<section class="index-quote grid">
  <div class="col-5_sm-12 quote">
    <h1>{{page.quote_html}}</h1>
  </div>

  <div class="col-6_sm-12 intro-text">
    <p> {{page.intro-text_html}}</p>
  </div>
</section>

<section class="grid index-services">
{% for item in page.services %}
  <div class="col-6_sm-12 service-box relative" style="background-image:url({{item.service_image}});">
    <div class="service-overlay">
      <div class="service-overlay-text">
        <h2>{{item.service-title}}</h2>
        <p>{{item.service_html}}</p>
        <br />
        <a href="{{item.service_url}}" class="primary-button"> Learn More </a>
    </div>
  </div>
  </div>
{% endfor %}
</section>

<!-- <section class="grid index-services">
  <div class="col-6_sm-12 service-img-first">
<img src="{{page.service-1_image}}" />


  <div class="col-6_sm-12 service-title-one">
    <h2>{{page.first-service-title}}</h2>
    <p>{{page.first-service_html}}</p>
    <br />
    <a href="{{page.first_url}}" class="primary-button"> Learn More </a>
  </div>

  <div class="col-12" style="padding:1rem;"></div>

  <div class="col-6_sm-12 service-title-second right">
    <h2>{{page.second-service-title}}</h2>
    <p>{{page.second-service_html}}</p>
    <br />
    <a href="{{page.second_url}}" class="primary-button"> Learn More </a>
  </div>

  <div class="col-6_sm-12 service-img service-image-second">
    <img src="{{page.service-2_image}}" />
  </div>

 -->

<section class="grid latest-work-loop">
  <div class="col-3_sm-12 latest-title">
    <h2> Latest <br /> Work</h2>
  </div>

  <div class="col-9_sm-12 latest-slider">
    <div class="grid" style="margin-bottom:20px; justify-content:center;">
      {% for project in site.projects limit:3 %}

      <div class="col-4_sm-12 project-sample centered">
        <a href="{{project.url}}">
          <img src="{{project.landing_image}}" style=" width:90%; margin:auto; margin-bottom:20px;" />
        </a>
        <h3> {{project.brand_title}} </h3>
        <a href="{{project.url}}"><span class="work-together low-light editable"> Explore </span></a>
      </div>

      {% endfor %}
    </div>
  </div>


</section>

  <section class=" testimonial_color slideshow desktop-slideshow" style="max-width:100%;">

    <div class="single-item">

      {% for item in page.testimonials %}
      <div class="slidecontainer relative">
        <div>
          <p> {{item.quote_html}} </p>

          <br /><br /><h4 class="testie-p"> - {{item.client}} </h4>
        </div>
      </div>
      {% endfor %}

    </div>

  </section>

{% include ig-grid.html %}
