/*
---------------------------
Website Fonts: List fonts here for reference
font-family: 'Josefin Sans', sans-serif;
Website Colours: List colour hex codes here for reference
----------------------------
*/

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;

}
body {
  color: #313131;
  background-color:white;
}

img {
  max-width: 100%;
  max-height: 100%;

}

a{
  text-decoration:none;
  color: #313131;
}

blockquote{
    padding: 5px 0;
}

blockquote p{
margin-left: 3rem;
border-left: 7px solid #ddeae9;
padding-left: 15px;
text-decoration: italic;
font-style: italic;
}

li{
  list-style:none;
  font-size:35px;
  padding:12px 0;
}

li a{
  font-family: 'Playfair Display', serif;
  font-weight:600;
}


/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.italic{
  font-style:italic;
}

.no-padding { padding: 0; }

.padded-top-0{padding-top:0;}
.padded-1 { padding: 1%; }
.padded-3 { padding: 3rem 2rem; }
.padded-4 { padding: 4%; }
.padded-5 { padding: 5%; }
.padded-10 {padding: 10%; }
.padded-top-16 {padding:16%;}
.padded-5-10 {padding: 5% 10%; }
.padded-bottom-1 {padding: 1rem; }
.padded-5-right{padding-right:5rem;}
.padded-5-left{padding-left:5rem;}
.margin-side-6{margin:0 6px;}
.margin-sides{margin: 0px 21px;}
.margin-bottom{margin-bottom:3rem;}

.margin-auto{margin:auto;}

.padded-top-1 { padding-top: 1%;}
.padded-top-5{padding-top:5%;}
.padded-top-3 {padding-top:3rem;}

.mob-show { display: none;}

.bg-img {
  background-color: grey;
  background-size: cover;
  background-position: center;
}

.mobile-display{
  display:none;
}

h1{
  font-family: 'Playfair Display', serif;
  font-weight:700;
  font-size:35px;
}

h2{
  font-family: 'Playfair Display', serif;
  font-weight:600;
  font-size:33px;
}

a{
  font-family: futura-pt, sans-serif;
}

h3{
font-family: futura-pt, sans-serif;

}

h4, p{
font-family: playfair-display, serif;
font-weight:400;
}


.space-around{
  justify-content:space-around;
}



html{
  scroll-behavior:smooth;
}

[class*=col-], [class*=col_], [class~=col]{
  padding:0;
}

[class*=grid-], [class*=grid_], [class~=grid]{
  margin:0;
}

[class*=grid-][class*=col-], [class*=grid-][class*=col_], [class*=grid-][class~=col], [class*=grid_][class*=col-], [class*=grid_][class*=col_], [class*=grid_][class~=col], [class~=grid][class*=col-], [class~=grid][class*=col_],{
  padding:0;
}

[class*=col-], [class*=col_], [class~=col], [class*=col-], [class*=col_], [class~=col], [class*=col-], [class*=col_], [class~=col], [class~=grid][class~=col]{
  padding:0;
}

[class*=grid-][class*=col-], [class*=grid-][class*=col_], [class*=grid-][class~=col], [class*=grid_][class*=col-], [class*=grid_][class*=col_], [class*=grid_][class~=col], [class~=grid][class*=col-], [class~=grid][class*=col_]{
  padding:0;
}

[class*=col-], [class*=col_], [class~=col]{
  padding:0;
}


[class*=grid-], [class*=grid_], [class~=grid]{
  margin:0;
}

.justify{
  justify-content:center;
}

/* Button Styles */

.button-fill{
  background-color:#718b82;
  color:white;
  position: relative;
  transition:.4s;
  padding:5px 7px;
  border-radius:4px;
}

.button-fill:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color:#c2d8c8;
  transition: all .4s;
  border-radius:4px;
}

.button-fill span{
  position: relative;
  z-index: 2;
  padding:5px;
}

.button-fill span:hover{
  color:white;
}

.button-fill:hover:after{
  width: 100%;
}

.button-spread{
  transition:0.8s;
  text-transform: lowercase;
}

.button-spread:hover{
  letter-spacing:2px;
}

.button-fill-second{
  background-color:#fffff9;
  color:#f9c947;
  position: relative;
  transition:.4s;
  padding: 13px 48px;
  border-radius: 4px;
  font-size: 20px;
}

.button-fill-second:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color:#f9c947;
  transition: all .4s;
  border-radius:4px;
}

.button-fill-second span{
  position: relative;
  z-index: 2;
  padding:5px;
}

.button-fill-second span:hover{
  color:white;
}

.button-fill-second:hover:after{
  width: 100%;
}
/* announcement */

.announcement{
  padding:10px;
  width:100%;
  background-color:#eae7e1;
  color:#494949;
}

/* nav  */


nav{
  text-align:center;
  width:100%;
  /* margin:10px 20px; */
}

.mobil-menu{
  display:block;
}

.hamburger__container:focus{
  outline:none;
}

.hamburger__container {
    display: block;
    float: right;
    padding: 1rem;
    margin: -1rem;
    cursor: pointer;
    margin-left: auto;
    position: absolute;
    top: 7.5vh;
    right: 3vh;
    background-color:transparent;
    border:none;
}

.hamburger {
    width: 1.20rem;
    height: 0.9375rem;
    /* position: relative; */
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(0deg); }
.hamburger i {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background: #d1dad8;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

    .index-hamburger i {
        display: block;
        position: absolute;
        width: 100%;
        height: 0.1875rem;
        background: white;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger i:nth-of-type(1) {
    top: 0;
    transform-origin: left center; }
.hamburger i:nth-of-type(2) {
    top: 0.375rem;
    transform-origin: left center; }
.hamburger i:nth-of-type(3) {
    top: 0.75rem;
    transform-origin: left center; }
.hamburger.open i:nth-of-type(1) {
    transform: rotate(45deg) translate(0, -0.0625rem);
    background-color: #979797;
  }
.hamburger.open i:nth-of-type(2) {
    opacity: 0;
    width: 0%; }
.hamburger.open i:nth-of-type(3) {
    transform: rotate(-45deg) translate(0, 0.0625rem);
  background-color: #979797;
}

/* Index page  */
.index-hamburger {
    width: 1.20rem;
    height: 0.9375rem;
    /* position: relative; */
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(0deg); }
.index-hamburger i {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background: white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }
.index-hamburger i:nth-of-type(1) {
    top: 0;
    transform-origin: left center; }
.index-hamburger i:nth-of-type(2) {
    top: 0.375rem;
    transform-origin: left center; }
.index-hamburger i:nth-of-type(3) {
    top: 0.75rem;
    transform-origin: left center; }
.index-hamburger.open i:nth-of-type(1) {
    transform: rotate(45deg) translate(0, -0.0625rem);
    background-color: black;
  }
.index-hamburger.open i:nth-of-type(2) {
    opacity: 0;
    width: 0%; }
.index-hamburger.open i:nth-of-type(3) {
    transform: rotate(-45deg) translate(0, 0.0625rem);
  background-color: black;
}

.code {
    font-weight: 400;
    font-family: monospace,monospace;
    padding: 0 8px;
    background: #e0e0e0;
}

.content {
    padding: 50px 20px;
}

#content {
    opacity: 0.7;
}




    /* html.noscroll {
        overflow: hidden;
    } */


    body.noscroll {
        overflow: visible;
        height: 100%;
    }

    .logo, .hamburger__container {
        /* position: relative; */
        z-index: 9999;
    }

    .nav {
        width: 60% !important;
        position: fixed;
        top: 0;
        right: -120%;
        background-color: #fafafa;
        z-index: 8;
        padding-top: 3.5rem;
        height: 100%;
        transition: 2s;
        line-height: 37px;
    }



    .open {
        opacity: 1;
        right: 0;
    }

    .nav__container {
        position: absolute;
        padding: 10rem 20px 30px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* These 2 below are all the magic: */
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .mobile-menu {
        display: -ms-flexbox;
        /* display: -webkit-flex;
        display: flex; */
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }


section:focus{
  outline:none;
}

a{
  text-decoration:none;
  color:inherit;
  display:in-line block;
}




.wh-widget-send-button-get-button{
  display:none !important;
}

div.wh-widget-send-button-wrapper, div.wh-widget-send-button-wrapper-list>a.wh-widget-button, div.wh-widget-button-icon.wh-messenger-bg-email {
    background-color: #ffe08c !important;
}

div.wh-widget-send-button-wrapper{
  background-color: #ffe08c !important;
}

iframe{
  background-image:none;
}



/* Title */

.primary-logo{
  width:15%;
  position:absolute;
  top:0vh;
  left:2vh;
}

/* .main-title h1, .main-title-mobile h1{ */

.title-overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5%;
  text-align: center;
  opacity: 0;
  background-color: #262626ad;
  color: white;
  top: 0;
  left:3vh;
  display:flex;
  align-items: center;
}

.title-quote{
  width:80%;
  margin:auto;
}

.main-title img{
  width:90%;
}

.title-about-text{
    padding: 4rem;
    text-align:center;
    width:80%;
    margin:auto;
}

.title-quote h1{
  font-size: 50px;
}

.nav-menu h1{
  font-size: 35px;
  line-height: 5px;
  color: #4a4a4a;
  margin-top: 12px;
  text-align:center;
}

.mobile-title{
  text-align:left;
  padding-top:10px;
  padding-left:10px;
  display:none;
}

/* .nav-menu{
  position: fixed;
  z-index: 5;
} */



.nav-menu a, button{
  color:#4a4a4a;
  padding:0 5px;

}

.nav-menu a:hover{
  color:#ECE6DC;
}

.nav-left{
  text-align:right;
    margin-top: 4rem;
    display: flex;
    justify-content: flex-end;
}

.nav-right{
  text-align:left;
    margin-top: 4rem;
}


.main-title-name{
    margin: 6px 0 0 35px;
    /* position:fixed; */
}


.title-img{
    background-image:url("/images/myface.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 0rem;
    padding: 9rem;
    width: 100%;
    margin: auto;
    text-align:right;
    height: 105vh;
}

.title-img-wrapper{
  text-align:right;
  padding:0;
}

.title-img-wrapper img{
  width:80%;
}

.title{
  height:105vh;
}

.title h1{
  font-size: 50px;
  text-align:right;
  line-height:102px;
}




.intro-text h4{
  font-size:30px;
}




.about-text p{
  padding: 0rem 11rem 6rem;
  text-align:center;
  /* font-family: 'Josefin Sans', sans-serif; */
  background-color:white;
}

.about-text span{
  font-weight:bold;
}



/* Blog */

.index-blog h1{
  font-size: 46px;
  margin-bottom: 20px;
  font-family:futura-pt,sans-serif;

}


.index-blog{
  padding:4rem;
  /* background-color: #D9E2E0; */
  justify-content: center;
}

.index-blog-img{
  min-height:200px;
}

.blog{
  padding:4rem;
}

.blog-post{
  padding:2rem 6rem;
  /* text-align:center; */
}

.blog-post img{
  display:flex;
  margin:auto;
}

.article-text{
  width:80%;
  margin:auto;
}

.article-title{
  width:60%;
  margin:auto;
  padding-bottom:3rem;
  text-align:center;
}

.blog-read-more{
  justify-content:center;
}



.blog-loop-background{
  padding: 6rem;
  margin: 1rem;
  background-position: center;
  background-size: cover;
  min-height:300px;
}

 .blog-loop-info p {
  width: 80%;
  margin:auto;
}


.blog-loop-info h3{
  width: 80%;
  margin: auto;
  padding-top: 20px;
  font-size: 20px;
  font-family:'Playfair Display',serif;
}

.blog-loop-info{
  padding-bottom:3rem;
}


/* blog fixed-background */

/* BACKGROUND FIXED - parallax - */
.blog-parallax{
  background-image: url("/images/vietnampic.jpg");

  /* Set a specific height */
  min-height: 50vh;
  max-height: 400px;

  background-attachment: fixed;
  background-position: top left;
  background-size:cover;
  padding-bottom:40%;
}

.blog-parallax div{
  height: 30vh;
}

/* index services */
.index-services{
  padding:7rem 4rem;
  background-color:#ECE6DC;
  position:relative;
}

.fixed1 {
    text-align: left;
    position: absolute;
    left: 2vh;
    line-height: 48px;
    top: -3vh;
    font-size: 28px;
    z-index: 7;
    font-family: futura-pt,sans-serif;
}

.index-services p{
  width:80%;
  margin:auto;
}

.ampersand{
  color:#F8F3EA;
  font-size:105px !important;
  line-height:56px !important;
}

/* Slick */

.single-item{
  height:100vh;
}

.slick-blog-container {
  padding: 5% 15%;
}

.slick-next {
  right: 1rem;
}

.slick-slide img {
  display: inline-block;
}

.slick-prev {
  left: 1rem;
  z-index: 3;
}
.slick-next:before, .slick-prev:before {
  font-family: inherit;
  font-weight: bold;
  color: white;
}

.slick-blog-loop:not(.slick-initialized) .hidden {display: none}


.slick-blog-loop h2 {
  // font-family: p22-underground, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  // text-transform: uppercase;
  line-height: 1.1;
  // letter-spacing: 3px;
  // font-weight: 200;
}

.slick-slider .overlay {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 50%);
}

.slick-slider .banner {
  min-height: 70vh;
}

/* Testimonials */
.testimonial, .testimonial_color{
  background-color:#212422;
}



.quotemark h1{
  line-height:0px;
  font-size:168px;
  text-align:left;
  margin-top:-8rem;
  font-family:bosque;
}



.testimonial p{
  font-size:24px;
  text-align:center;
  font-family: 'Playfair Display',serif;
  padding: 3rem 3rem 3rem 5rem;
  color:white;
}

.testie-p{
  font-style:italic;
  font-family:futura-pt,sans-serif;
}





/* FEATURED reg */

.featured{
  background-color:white;
  padding:2rem 6rem 2rem;
  justify-content:space-between;
  position:relative;
}


  .featured h1 {
      text-align: center;
      margin: 20px 0;
  }

.featured h2{
  text-align:left;
  margin:auto;
  margin-bottom:20px;
  line-height:50px;
  font-size: 75px;
  padding:10px;
}

.featured-title{
  margin: auto;
  margin-left: 0;
  margin-right: 0;
}

hr{
  border:1px solid black;
  margin:10px 0 17px;
}


.overlay h4, .overlay h3{
  text-align: right;
  font-size: 24px;
  margin-top: 7rem;
  font-family: 'Josefin Sans', sans-serif;
  color:#F8F4F0;;
}

.overlay p{
  font-style: italic;
  font-size:15px;
  text-align:right;
  margin:5px 0;
  color:#F8F4F0;
}

.overlay h3{
  margin:auto;
  width:80%;
  text-align:right;
}

.overlay{
  position: absolute;
    height: 100%;
    width: 100%;
    padding: 5%;
    text-align: center;
    opacity: 0;
    background-color: #262626ad;
    color: white;
    top: 0;
    left:3vh;
}

.overlay:hover{
  transition:0.7s;
  opacity:1;
}

.margin-bottom{
  margin:5px;
  margin-bottom:10px;
  max-width:47% !important;
}

.featured h4{
  font-size:20px;
  font-family:'Playfair Display',serif;
  font-weight: 600;
}

.featured{
  background-position:center;
  background-size:cover;
  margin-top:10px;
  position:relative;
  z-index:3;
  margin-bottom:10px;

}



/* Contact */

.contact, .contact-form form{
  padding:0 3rem;
  width: 70%;
  margin: auto;
  margin-bottom: 5rem;
}

.contact-form{
  /* background-color:#ECE6DC; */
}



.contact input, .contact-form input, textarea{
width: 90%;
padding: 10px 2px;
border:none;
margin: auto;
margin-top: 4px;
display: flex;
font-family: futura-pt,sans-serif;
color:#272727;
border-bottom:2px solid #272727;
}

.contact, .contact-form input{
  background-color:transparent;
}

textarea{
  padding:10px 2px 150px;
  resize:none;
  margin-top:1rem;
  border:2px solid #272727;
  background-color:transparent;
}


.contact form{
  width:80%;
  margin:auto;
}

.contact-button{
  width:70% !important;
  border-radius: 3px;
  margin: auto;
  display: flex;
  justify-content: center;
  transition:0.8s;
}

form{
  padding:3rem;
}

/* lightwidget */

.lightwidget{
  padding:1rem;
}



/* Newsletter Form */

#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: left;
    padding: 2rem;
    background-color: #212422;
    font-family: futura-pt, sans-serif;
    text-transform: lowercase;
    padding-bottom:0;
}

.indicates-required{
  display:none;
}

#mc_embed_signup .button {
    background-color: transparent;
    width: 96%;
    color: #DBDBDB;
    font-family: futura-pt, sans-serif;
    text-transform: lowercase;
}

#mc_embed_signup .button:hover{
  background-color:transparent;
}

#mc_embed_signup #mce-success-response {
    color: white;
    display: none;
    font-size: 18px;
    width: 100%;
}

#mc_embed_signup .mc-field-group label {
    display: block;
    /* margin-bottom: 3px; */
    line-height: 0;
    color: #DBDBDB;
}

#mc_embed_signup .mc-field-group input {
    display: block;
    width: 100%;
    padding: 0;
    text-indent: 2%;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #DBDBDB;
}


footer h2 {
  font-size: 57px;
  line-height: 45px;
  color: #DBDBDB;
}

footer h3{
  color:#DBDBDB;
}

footer{
  background-color:#212422;
  color: #DBDBDB;
}

.form h2{
  font-family: collection-free;
  font-size:50px;
}



.footer-menu{
  position:absolute;
  bottom:2vh;
  text-align: center;
  width: 100%;
}

.footer-menu a{
  margin:0 10px;
}

/* input{
  width: 90%;
  border: none;
  border-bottom: 2px solid #fff;
  font-size: 15px;
  margin: 3px;
  padding: 6px 5px;
} */

.contact-button{
  width: 90;
  border: none;
  font-size: 15px;
  padding: 6px 5px;
}

/*  Web Portfolio */
.web-work{
  padding: 7rem 5rem;
  background-color: white;
}

.web-links a{
  position:relative;
}

.go-back a{
  font-size:21px;
}

.fa-arrow-alt-circle-left{
  text-align:left;
  padding: 10px 5px 0;
  font-size:25px;
}

.fa-arrow-alt-circle-left:hover{
  color:#d5efe0;
}

.web-work h4{
  line-height:23px;
}

.web-info{
  padding:5rem 0;
}

.web-info h2{
  font-family: classico-urw, sans-serif;
}

.web-info h3{
  font-family: futura-pt, sans-serif;
  font-size:20px;
}

.services-info a{
  border-bottom:2px solid #313131;
}

.service-info h3{
    margin-top: 2.75rem;
}

/* .service-info a{
  border:1px solid black;
  padding:5px;
}

.service-info a:hover{
  border:1px solid #f9c947;
  color: #f9c947;
} */

.service-info p{
  width:70%;
  margin:auto;
  margin-bottom:3rem;
}

.web-page{
  padding-bottom:3rem;
}

.page-add img{
  padding:1rem;
}

.web-work-title{
  margin:auto;
  background-position:top;
  background-size:cover;
  padding:10rem;
}

.brand-info{
  padding:0rem 6rem 0 2rem;
}

.services-info{
  padding:0 2rem 0 2rem;
}

.web-button{
  width:40%;
  margin:auto;
}

.web-button:hover{
  color:#b5979b;
}

.web-intro h4{
  width:70%;
  margin:auto;
}

.web-faq{
  margin: auto;
    margin-top: 5rem;
    display: block;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 6vh;
}

/* accordion */

.web-accordion{
  padding-bottom:3rem;
}

.accordion {
  background-color: transparent;
  cursor: pointer;
  padding: 18px 4px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: 0;
  font-size: 15px;
  transition: .5s;
  width: 70%;
  margin: auto;
  text-align: center;
    margin-bottom: 10px;
}

.accordion h2{
  padding-bottom:10px;
}

.active, .accordion:hover {
  color: #7a7a7a;
}

/* .accordion:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
  margin-top:-28px;
} */

.active:after {
  /* content: "\2212"; */
  color: #7a7a7a;
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.9s ease-out;
  width:70%;
  margin:auto;
}


/* Media*/

.social-accordion{
  padding-left:3rem;
}


.media-title{
  text-align:center;
  padding-top:4rem;
  margin-top:1rem;
  background-color:#d5efe0;
}

.padded-1-3{
  padding:1rem 2rem;
}

.social-media{
  background-color:white;
  padding-top: 4rem;
    padding-right: 4rem;
}

.social-image{
  position:relative;
}

.absolute{
  position:absolute;
}

.social-media nav a {
  display:inline-block;
  text-decoration: none;
  padding: 15px 11px;
  font-size: 20px;
  font-weight: 300;
  color: #C3BFBC;
  /* font-family: 'Alegreya Sans SC', sans-serif; */
}

.social-testimonial{
  background-color:#d5efe0;
  text-align:center;
}

.social-testimonial p{
  font-size: 19px;
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;

}

.social-testimonial{
  padding: 4rem 6rem 2rem;
}

.social-media hr{
  border: 1px solid;
  width:20%;
  margin-left:41%;
  margin-top: 20px;
}

.dropdown-content {
    display: none;
    padding:5px;
}

.dropdown-content a:hover {
  font-style: italic;
}



.dropdown-nav {
  position:relative;
  cursor: pointer;
}

.dropdown-nav h3{
  border-bottom: 2px solid;
  width: 80%;
  margin: auto;
}


.social-media-clients{
  margin-bottom:20px;
  margin-left:10%;
}



.social-media-clients img{
  width:146px;
  margin:3%;
}

.enemon-bk{
  background-color: rgb(100,100,100);
}


.social-media-clients h3{
  margin:auto;
  padding: 3rem 0;
}


.social-media div{
  margin-top:0;
}

.social-media p, .social-media h2{
  width:100%;
  margin:auto;
}

.social_media ul{
  margin: 0px 21px;
}

.social-media span{
  font-weight:800;
  color: #8aa4a9;
}


.social-media div{
  margin-bottom: 20px;
  /* margin:auto; */
}



.social-media h3{
  font-size:25px;
  text-align:center;
  margin-bottom:15px;
  margin-top:20px;
  font-family: futura-pt, sans-serif;
}

.social-media ul{
  margin-left:74px;
}

.nashjo-img{
  background-image: url("/images/nashjoeats.png");
  background-size:cover;
  padding:10rem;
}


.writing span{
  font-style:italic;
}

.writing_radio h3{
  font-weight: 300;
}

.writing_radio{
  padding: 3rem 0rem;
padding-left: 4rem;
}

.writing_radio div{
    text-align: center;
    transition:0.2s;
  }

  .writing_radio a{
    border-radius: 5px;
    margin-bottom:20px;
  }

  .writing_radio h3{
    width:80%;
    margin:auto;
  }

.writing-bk-img{
  background-size:cover;
  background-position:center;
  padding:7rem;
  margin:auto;
  width:90%;
}

.thesis-bk-img{
  background-image: url("/images/nmv-pancakes.jpeg");
}

.pd-bk-img{
  background-image: url("/images/mex-oatbowl.jpg");
}

.bgt-bk-img{
  background-image: url("/images/Verdon-houses-in-Bogota.jpg");
}


.wsp-bk-img{
  background-image: url("/images/Verdon-piece-photo.jpg");
}

.wine-bk-img{
  background-image: url("/images/tashwine.jpg");
}

.stpatty-bk-img{
  background-image: url("/images/st.pattyday.jpg");
}

.thesis{
  margin:0;
  margin-bottom:50px;
}

.blue-hover:hover{
  color: #94b3ba;
}

.orange-hover:hover{
  color: #BB5C2f;
}

.pink-hover:hover{
  color:#e4cabc;
}

.yellow-hover:hover{
  color:#e5bc5c;
}

.purple-hover:hover{
  color: #c8b0b4;
}


/* lightbox - Food */

[class*=grid-]>[class*=col-4], [class*=grid_]>[class*=col-4], [class~=grid]>[class*=col-4]{
  max-width:31.3333%;
}


.gallery-image{
  height:10vh;
}



.featured-gallery{
  padding:3rem 3rem 1rem 3.5rem;
  background-color:white;
}



h3 {
  font-size:25px;
}

.gallery-item{
  padding:15px;
  padding-top:0;
  padding-bottom:30px;
  margin: 6px;
}


.gallery-image{
  padding:40%;
  background-size: cover;
  background-position: center;
  position:relative;
}



.heading-mobile{
  display:none;
}

/* Web Dev  */

.testimonial-web{
  padding: 2rem 5rem;
}

.web-title{
  text-align:center;
  padding-top:4rem;
  margin-top:1rem;
  background-color:#d5efe0;
}

.web-title h2{
  font-size:40px;
}

.overlay1{
  background-color:rgba(255, 255, 255, 0.7);
  padding:3rem;
}

.web-process h2{
  font-size:30px;
}

/* .media-img1, .media-img2, .media-img3, .media-img4{
  padding:1rem;
} */

.media-img2{
  margin:auto;
}




.web-dev h2{
  font-weight:400;
  font-size:30px;
}


.web-dev div {
    text-align: center;
    width: 90%;
}

.mobile-contact{
  padding: 2rem 0;
    margin: 2rem 0;
}

.web-dev{
  background-color:white;
  padding:8rem 0rem 5rem;

}

.web-dev a{
  position:relative;
  margin-bottom:3rem;
}



.web-fixed{
    background-image:url("/images/plant-pic.jpg");
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}

.testimonial-web span{
  color:#e5bc5c;
}

.testimonial-web{
  padding: 4rem 9rem;
  background-color:#d5efe0;
}

.web-process{
  background-color:rgba(255, 255, 255, 0.8);

}

.web-process h2{
  font-size:30px;
  text-align:center;
}

.web-process h3{
  font-size:17px;
}

.process{
  margin-top:20px;
}

.process p{
  margin-bottom:35px;
}

.process h3{
  margin-top:6px;
}

/* ABOUT */

.about{
padding:0;
background-color:#ffffff;
}



.form{
  padding:4rem;
}



input{
  width: 90%;
}

.contact-button{
  background-color:transparent;
  border-bottom:none !important;
}

.contact-button:hover{
  letter-spacing:1.3px;
}


.contact-media{
  padding-top:3rem;
}



.padded-bottom-1 h2{
  position:absolute;
}

.about-img{
  background-image: url("/images/tash-bali.jpg");
  background-position:center;
  background-size:cover;
}


.padded-top-3{padding-top:3%;}
.padded-top-5{padding-top:5%;}
.padded-5 { padding: 5%; }
.margin-bottom{margin-bottom:3rem;}


/* ARTICLES */


.unfound-text{
margin:auto;
}


/* media queries */

@media (max-width: 1024){

  .mobile-up{
    order:1;
  }

  .title h1{
    padding-right:15px;
  }

  .featured-title{
    order: -1;
  }

  .social-media div{
    margin:auto;
    margin-left:0;
    margin-right:0;
  }
}

@media (max-width: 900px){
  hr{
    display:none;
  }

  .featured-title{
    order:-1;
  }
}

@media (max-width: 768px){
.cv-img{
  padding: 14rem 0;
}



.margin-bottom{
  max-width: 100% !important;
}

.mobile-order{
  order:2;
}

.title-quote{
  position:relative;
  padding:2rem;
  top:0;
  right:0;
  width:100%;

}

.relative{
  position:relative;
}


.primary-logo{
  /* width:35%; */
  position:relative;
  top:0vh;
  left:1vh;
}

.primary-logo img{
  width:15%;
}

.title{
  height:auto;
}

.nav-title img {
  width:24%;
}

.taco-image{
  display:none;
}


.main-title-name{
  position:relative;
}

.nav-title img{
  width:40%;
}

.title-img{
  height:45vh;
  order:-1;
}

/* .title-quote h1{
  text-align:center;
  line-height:60px;
  padding-bottom:20px;
}

.title-quote{
text-align: center;
padding:4rem;
padding-bottom:2rem;
} */

.hamburger__container{
  top:9.5vh;
}

.nav{
  width:80% !important;
}

.hamburger i{
  background: #b4b4b4;
}

.ampersand{
  padding: 1rem 0 4rem;
}

.ampersand h1{
  font-size:105px !important;
}

.mobile-display{
  display:block;
}

.mobile-title{
  display:block !important;
}

.intro-text h3 {
    padding:4rem 2rem 2rem;
}

.intro-text{
  padding:0;
}

.intro-fixed{
  padding:2rem;
}


.testimonial{
  padding:2rem;
  font-weight: 400;
  font-style: normal;
  display: flex;
  /* min-height: 592px; */
  align-items: center;
  justify-content: center;
  height:auto;
}

.testi-slide{
  height: 85vh;
    background-color: #212422;
    margin: auto;
    display: flex;
}

.index-services{
  padding:4rem;
}


.slideshow-container{
  position:relative;

}

.slidecontainer{
  height:100vh;
  background-position:center;
  background-size:cover;
}



.mySlides{
  position:relative;
}

.far, .fas{
  rgba(250,250,250,0.2);
}


.testimonial p{
  padding: 9rem;
  text-align:center;
}


.far, .fas{
  margin:5px;
  margin-top:2rem;
}


.featured1, .featured2, .featured3{
  margin:5px;
  max-width:100% !important;
}


.index-blog{
  padding:4rem 2rem;
}

.services h2{
  padding:0 5rem;
}
.services-text h3{
  padding:20px 0rem 0 3rem;
}

.services-text{
  padding: 3rem 0;
  margin:0;
}

.services-text a{
  padding:20px 0rem 0 3rem;
}

.featured-gallery{
  padding:0;
  padding-top:4rem;
}


.social-media{
  padding:2rem;
  padding-top:2rem;
}

.social-media div{
  margin-bottom:15px;
}

.social-media nav{
  margin:0;
}



.web-dev h3{
  text-align:center;
  margin-bottom:20px;
}

.web-dev div{
  width:100%;
}

.web-dev{
  padding:4rem 0;
}

.media-img2{
  width:80%;
  margin:auto;
}

.web-accordion{
  position:relative;
}

.social-accordion{
  padding-left:0;
}

.web-title, .media-title, .blog-title{
  margin-top: 0rem;
  padding-bottom:2rem;
}

.about-img{
  padding:5rem;
}

.nashjo-img, .enemon-img, .ioc-img, .sif-img{
  padding:6rem;
}



ul{
  padding-left:17px;
}

.mobile-start{
  order:-1;
}


.social-testimonial{
  padding: 1rem 2rem 0;
}

.web-intro h4{
  width:100%;
  margin:auto;
}

/* Accordion */
.accordion{
  width:90%;
}

.panel{
  width:80%;
}

/* lightbox cols */

[class*=grid-]>[class*=col-6], [class*=grid_]>[class*=col-6], [class~=grid]>[class*=col-6], [class*=grid-]>[class*=col-12], [class*=grid_]>[class*=col-12], [class~=grid]>[class*=col-12]{
  max-width:100%;
}
[class*=grid-]>[class*=_sm-12], [class*=grid_]>[class*=_sm-12], [class~=grid]>[class*=_sm-12]{
  max-width:100%;
}

/* writing cols */
[class*=grid-]>[class*=col-6], [class*=grid_]>[class*=col-6], [class~=grid]>[class*=col-6]{
  max-width:100%;
}

/* Media cols  */
[class*=_sm-12]>[class*=col-], [class*=_sm-12]>[class*=col_], [class*=_sm-12]>[class~=col]{
  max-width:100%;
}

.social-media ul{
  padding:0;

}

.writing_radio a{
  margin:0;
  margin-bottom:20px;
}

.writing_radio h3{
width:100%;
}


.gallery-item{
  margin:2px;
}

.heading-mobile{
  display: block;
  padding-bottom:20px;
  text-align:center;
}
.social-media-clients{
  margin-right:0;}

.social-media-clients h3{
  padding: 1rem 0;
  font-size: 23px;
}

.media-side-img{
  order:-1;
}


.social-media p, .social-media h2{
  width:100%;
  margin:auto;
  padding: 0 31px;
}

.intro-img-1, .intro-img-3{
  display:none;
}

.intro-img-2{
  margin:auto;
  margin-top:15px;
  padding:0;
}

.testimonial-web{
  padding:2rem;
}

.web-process{
  padding:2rem;
}

.writing_radio{
  padding: 3rem 0rem;
padding-left: 1rem;
}

/* burger menu */



.display-none{
    display:none;
}

.overlay{
  display:none;
}




/* Featured */

.featured-blog{
  padding:2rem;
}

.featured-blog-info{
  padding:2rem 0;
}

.featured-blog-info h4{
  font-family: futura-pt, sans-serif;
  font-size:15px;
  font-style:italic;
}

.featured{
  padding:6rem 2rem;
  background-color:white;
}



.testimonial p{
  padding: 0px;
  margin:0;
  margin-left:0;

}

.about{
  padding:0;
}

.about-text{
  padding:10px;
}

.about-text p{
  padding: 2rem 3rem 4rem;
}

.title-about-text{
  padding: 4rem 2rem;
  text-align:center;
  width:100%;
  margin:auto;
}

/* .title-img{
  padding:11rem;
  order:-1;
} */

.menu-img{
  padding:6rem;
}

.menu{
  padding:0;
}

.blog, .article-text{
  padding:2rem;
}

.blog-post img{
  display: flex;
    margin: auto;
    height: 100%;
}

.blog-post{
  padding:0;
}

.article-text{
  width:100%;
}

.article-title{
  width:100%;
}

.blockquote p{
  margin-left:0;
  text-align:left;
}


.blog-loop-background{
  padding: 6rem;
  background-position: center;
  background-size: cover;
  min-height:300px;
}

.blog-loop-background, .blog-loop-info h3, .blog-loop-info p {
  width: 100%;
  margin:auto;
  font-weight:400;
}

/* .article-text{
  text-align: center;
} */



.padded-5-10{
  padding:5% 4%;
}




.blog-grid{
  padding: 0 3rem 3rem;
}

.testimonial-web{
  padding:2rem 2rem 0;
}

.contact-button{
  width:36%
}

.bottom-images{
  margin-bottom:28.5rem;
}


.form{
  order:2;
  margin-bottom:2rem;
  padding: 2rem 2rem 0;

}

.contact-media{
  padding-top:1rem;
}



.web-work-title{
  padding:6rem;
}

.web-work{
  padding:0;
}

.services-info{
  padding:2rem;
}

.web-work h4{
  margin-bottom:15px;
}


.footer-menu{
  position: absolute;
  bottom: 2vh;
  width: 80%;
  left: 30px;
}

.form{
  padding:2rem 2rem 0;
}


.featured1, .featured2, .featured3{
  margin:10px 0;
}

.contact, .contact-form form{
  padding:1rem;
  width:90%;
  margin:auto;
  margin-bottom:5rem;
}

}

@media (max-width:687px;){

  .title-about-text{
    padding-top:20rem;
  }

  .nav-title img {
    width:50%;
  }
}
