/*
---------------------------
Website Fonts: List fonts here for reference
font-family: 'Josefin Sans', sans-serif;
Website Colours: List colour hex codes here for reference
----------------------------
*/

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;

}
body {
  color: #313131;
  background-color:white;
}

img {
  max-width: 100%;
  max-height: 100%;

}

a{
  text-decoration:none;
  color: #313131;
}



/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.padded-top-0{padding-top:0;}
.padded-1 { padding: 1%; }
.padded-3 { padding: 3rem 2rem; }
.padded-4 { padding: 4%; }
.padded-5 { padding: 5%; }
.padded-10 {padding: 10%; }
.padded-top-16 {padding:16%;}
.padded-5-10 {padding: 5% 10%; }
.padded-bottom-1 {padding: 1rem; }
.padded-5-right{padding-right:5rem;}
.padded-5-left{padding-left:5rem;}
.margin-side-6{margin:0 6px;}
.margin-sides{margin: 0px 21px;}
.margin-bottom{margin-bottom:3rem;}

.margin-auto{margin:auto;}

.padded-top-1 { padding-top: 1%;}
.padded-top-5{padding-top:5%;}
.padded-top-3 {padding-top:3rem;}

.mob-show { display: none;}

.bg-img {
  background-color: grey;
  background-size: cover;
  background-position: center;
}

h1, a, h2{
  font-family: futura-pt, sans-serif;
}

h3{
font-family: classico-urw, sans-serif;

}

h4, p{
font-family: playfair-display, serif;
}

h3{
  font-size:25px;
}

h2{
  font-size:34px;
}

.space-around{
  justify-content:space-around;
}

@font-face{
  src:url("/fonts/BOSQUE.otf");
  font-family:bosque;
}

@font-face{
  src:url("/fonts/CollectionFree.otf");
  font-family:collection-free;
}



html{
  scroll-behavior:smooth;
}

[class*=col-], [class*=col_], [class~=col]{
  padding:0;
}

[class*=grid-], [class*=grid_], [class~=grid]{
  margin:0;
}

[class*=grid-][class*=col-], [class*=grid-][class*=col_], [class*=grid-][class~=col], [class*=grid_][class*=col-], [class*=grid_][class*=col_], [class*=grid_][class~=col], [class~=grid][class*=col-], [class~=grid][class*=col_],{
  padding:0;
}

[class*=col-], [class*=col_], [class~=col], [class*=col-], [class*=col_], [class~=col], [class*=col-], [class*=col_], [class~=col], [class~=grid][class~=col]{
  padding:0;
}

[class*=grid-][class*=col-], [class*=grid-][class*=col_], [class*=grid-][class~=col], [class*=grid_][class*=col-], [class*=grid_][class*=col_], [class*=grid_][class~=col], [class~=grid][class*=col-], [class~=grid][class*=col_]{
  padding:0;
}

[class*=col-], [class*=col_], [class~=col]{
  padding:0;
}

/* nav  */


nav{
  text-align:center;
  width:100%;
  /* margin:10px 20px; */
}

.burger-menu{
  display:none;
}

section:focus{
  outline:none;
}

a{
  text-decoration:none;
  color:inherit;
  display:in-line block;
}

a:hover{
  color:#e5bc5c;
}






/* Title */

/* .main-title h1, .main-title-mobile h1{ */

.title-quote{
  text-align:right;
}

.title-about-text{
    padding: 4rem 4rem 0;
    text-align:center;
    width:80%;
    margin:auto;
}

.title-quote h1{
  font-size: 50px;
}

.nav-menu h1{
  font-size: 35px;
  line-height: 5px;
  color: #4a4a4a;
  margin-top: 12px;
  text-align:center;
}

.mobile-title{
  text-align:left;
  padding-top:10px;
  padding-left:10px;
  display:none;
}

/* .nav-menu{
  position: fixed;
  z-index: 5;
} */



.nav-menu a{
  color:#4a4a4a;

}

.nav-menu a:hover{
  color:#E2B600;
}

.nav-left{
  text-align:right;
    margin-top: 4rem;
}

.nav-right{
  text-align:left;
    margin-top: 4rem;
}


.main-title-name{
    margin: 6px 0 0 35px;
    /* position:fixed; */
}


.title-img{
    background-image:url("/images/myface.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 0rem;
    padding: 9rem;
    width: 70%;
    margin: auto;
    height: 45vh;
}


.title h1{
  font-size: 125px;
  text-align:right;
  line-height:102px;
}




.intro-text h4{
  font-size:30px;
}




.about-text p{
  padding: 0rem 11rem 6rem;
  text-align:center;
  /* font-family: 'Josefin Sans', sans-serif; */
  background-color:white;
}

.about-text span{
  font-weight:bold;
}



/* Blog */
.blog-loop-background{
  padding: 6rem;
  margin:1rem;
  background-position:center;
  background-size:cover;
}

.read-more-loop-background{
  padding: 7rem;
  margin:1rem;
  background-position: center;
  background-size: cover;
}

.blog-title{
    text-align:center;
    padding-top:4rem;
    margin-top:1rem;
}


.blog-grid{
  /* background: linear-gradient(to bottom,#d5efe0 45%, #fff 44%,#fff 100%); */
  background-color:white;
  justify-content:space-between;
}

.blog-grid a{
  font-style:italic;
  text-align:center;
}


.blog-loop-info h2{
font-size: 18px;
text-align:center;
}

.blog-loop-info a:hover{
  color:#E2B600;
}

.blog-loop-info p{
  font-style:italic;
}

.featured-blog-img{
  background-position:center;
  background-size:cover;
  padding:10rem;
}

.featured-blog{
  padding:2rem 6rem;;
  background-color:#d5efe0;
}

.featured-blog-info{
  text-align:left;
  padding:2rem;
  color: #F8F4F0;
}

.featured-blog-info p{
  text-align:left;
  color:#F8F4F0;

}

.featured-blog a:hover{
  color:#F8F4F0;
}

.featured-blog-info h2:hover{
  color:#E2B600;
}

.post-preview a:hover{
  color:#E2B600;
}



.blog h2{
  font-size: 70px;
  margin-left: 5rem;
  padding-bottom:2rem;
  color: #99b6af;
}

.blog h4{
  font-size: 30px;
  padding-top: 30px;
}

.blog{
      /* background: linear-gradient(to bottom,#244243 0,#244243 50%,#244243 50%,#fff 50%,#fff 100%); */
      padding-bottom:3rem;
}

.article-text{
  /* margin-top:26rem; */
  padding: 3rem 6rem;
  z-index:10;
  background-color:#f8f4f0;
}

.article-img{
  position:fixed;
  z-index:-11;
}

.article-text h2{
  font-size:35px;
  text-align:center;
  width:50%;
  margin:auto;
  padding-bottom:30px;
}

.blog-read-more{
      background: linear-gradient(to top,#d5efe0 48%, #f8f4f0 16%, #f8f4f0 100%);
}

.blog-loop-info h3, .blog-loop-info h4{
  width: 80%;
  margin: auto;
  text-align: center;
}

.blog-grid h3:hover{
  color:#858ED8;
}

.read-more-info h3, .read-more-info h4{
  width: 65%;
  margin: auto;
  text-align: center;
}

.blog-grid{
  padding: 3rem 5rem 6rem;
}

/* index services */
.index-services{
  padding:4rem 4rem 2rem;
  background-color:#C3E0D9;
}

.index-services p{
  width:80%;
  margin:auto;
}

.ampersand{
  color:#D9EFE9;
  font-size:105px;
}

/* Testimonials */
.testimonial{
  padding: 3rem;
  height: 52vh;
  background-color:#FBC931;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  left:39%;
}

.quotemark h1{
  line-height:70px;
  font-size:168px;
  text-align:left;
  margin-top:-8rem;
  font-family:bosque;
}



.testimonial p{
  font-size:20px;
  text-align:right;
  font-family: 'Josefin Sans', sans-serif;
  padding: 3rem 3rem 3rem 5rem;
  color:white;
}

.testie-p{
  font-style:italic;
  font-family:collection-free;

}

/* MENU */

.menu-img{
  background-image: url("/images/tash-tacos.jpg");
  background-position:center;
  background-size:cover;
  padding:6rem;
}

.menu{
  padding: 3rem 1rem 3rem 3rem;
  background-color:white;
}



/* Services */


.mySlides{
  display:none;
} */

.mySlides p{
  text-align:center;
}

/* FEATURED reg */

.featured{
  background-color:white;
  padding:5rem;
  padding-left: 7rem;
  padding-top:5rem;
  justify-content:space-between;
}

.featured h2{
  text-align:left;
  margin:auto;
  margin-bottom:20px;
  line-height:50px;
  font-size: 75px;
  padding:10px;
}

.featured-title{
  margin: auto;
  margin-left: 0;
  margin-right: 0;
}

hr{
  border:1px solid black;
  margin:10px 0 17px;
}


.overlay h4{
  text-align: right;
  font-size: 24px;
  margin-top: 7rem;
  font-family: 'Josefin Sans', sans-serif;
  color:#F8F4F0;;
}

.overlay p{
  font-style: italic;
  font-size:15px;
  text-align:right;
  margin:5px 0;
  color:#F8F4F0;
}

.overlay{
  position: absolute;
    height: 100%;
    width: 100%;
    padding: 5%;
    text-align: center;
    opacity: 0;
    background-color: #31313194;
    color: #5a5a5a;
    top: 0;
    left:0;
}

.overlay:hover{
  transition:0.7s;
  opacity:1;
}

.featured1{
  background-image:url("/images/fish-plate.jpg");
  background-position:center;
  background-size:cover;
  margin-top:10px;
  position:relative;
  z-index:3;
  padding:6rem;
  margin-bottom:10px;
  height:38vh;
}

.featured2{
  background-image:url("/images/chasemobile.png");
  background-position:center;
  background-size: cover;
  margin:10px 0px 10px 10px;
  position:relative;
  z-index:3;
  height:38vh;
}

.featured3{
  background-image:url("/images/IMG_9275.jpg");
  background-position:center;
  background-size: cover;
  margin:10px 0px 10px 10px;
  position:relative;
  z-index:3;
  height:38vh;
}

.slide-dots{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* Newsletter Form */

.footer h2{
  font-size: 57px;
  line-height: 45px;
}

.form h2{
  font-family: collection-free;
  font-size:30px;
}

.footer h1{
  font-size:42px;
  line-height:30px
}

.about-img{
  position:relative;
}

.footer-menu{
  position:absolute;
  bottom:2vh;
  text-align: center;
  width: 100%;
}

.footer-menu a{
  margin:0 10px;
}

input{
  width: 90%;
  border: none;
  border-bottom: 2px solid #fff;
  font-size: 20px;
  margin: 10px;
  padding: 6px 5px;
}

.contact-button{
  width: 90;
  border: none;
  font-size: 20px;
  padding: 6px 5px;
}

/*  Web Portfolio */
.web-work{
  padding: 5rem;
  background-color: white;
}

.web-work h4{
  line-height:23px;
}

.web-info{
  padding:5rem 0;
}

.web-info h2{
  font-family: classico-urw, sans-serif;
}

.web-info h3{
  font-family: futura-pt, sans-serif;
  font-size:20px;
}

.services-info a{
  border-bottom:2px solid #313131;
}

.service-info h3{
    margin-top: 2.75rem;
}

.service-info a{
  border:1px solid black;
  padding:5px;
}

.service-info a:hover{
  border:1px solid #f9c947;
  color: #f9c947;
}

.service-info p{
  width:70%;
  margin:auto;
  margin-bottom:3rem;
}

.web-page{
  padding-bottom:3rem;
}

.page-add img{
  padding:1rem;
}

.web-work-title{
  margin:auto;
  background-position:top;
  background-size:cover;
  padding:10rem;
}

.brand-info{
  padding:0rem 6rem 0 2rem;
}

.services-info{
  padding:0 2rem 0 2rem;
}

.web-button{
  width:40%;
  margin:auto;
}

.web-button:hover{
  color:#b5979b;
}


/* Media*/


.media-title{
  text-align:center;
  padding-top:4rem;
  margin-top:1rem;
  background-color:#d5efe0;
}

.padded-1-3{
  padding:1rem 2rem;
}

.social-media{
  background-color:white;
}

.social-media nav a {
  display:inline-block;
  text-decoration: none;
  padding: 15px 11px;
  font-size: 20px;
  font-weight: 300;
  color: #C3BFBC;
  /* font-family: 'Alegreya Sans SC', sans-serif; */
}

.social-testimonial{
  background-color:#d5efe0;
  text-align:center;
}

.social-testimonial p{
  font-size: 25px;
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;

}

.social-testimonial{
  padding: 4rem 6rem 2rem;
}

.social-media hr{
  border: 1px solid;
  width:20%;
  margin-left:41%;
  margin-top: 20px;
}

.dropdown-content {
    display: none;
    padding:5px;
}

.dropdown-content a:hover {
  font-style: italic;
}

.media-side-img{
  padding-top:2rem;
}


.dropdown-nav {
  position:relative;
  cursor: pointer;
}

.dropdown-nav h3{
  border-bottom: 2px solid;
  width: 80%;
  margin: auto;
}


.social-media-clients{
  margin-bottom:20px;
  margin-left:10%;
}



.social-media-clients img{
  width:146px;
  margin:3%;
}

.enemon-bk{
  background-color: rgb(100,100,100);
}


.social-media-clients h3{
  margin:auto;
  padding: 3rem 0;
}


.social-media div{
  margin-top:0;
}

.social-media p, .social-media h2{
  width:65%;
  margin:auto;
}

.social_media ul{
  margin: 0px 21px;
}

.social-media span{
  font-weight:800;
  color: #8aa4a9;
}


.social-media div{
  margin-bottom: 20px;
}



.social-media h3{
  font-size:25px;
  text-align:center;
  margin-bottom:15px;
  margin-top:20px;
  font-family: futura-pt, sans-serif;
}

.social-media ul{
  margin-left:74px;
}

.nashjo-img{
  background-image: url("/images/nashjoeats.png");
  background-size:cover;
  padding:10rem;
}


.writing span{
  font-style:italic;
}

.writing_radio h3{
  font-weight: 300;
}

.writing_radio{
  padding: 3rem 0rem;
padding-left: 4rem;
}

.writing_radio div{
    text-align: center;
    transition:0.2s;
  }

  .writing_radio a{
    border-radius: 5px;
    margin-bottom:20px;
  }

  .writing_radio h3{
    width:80%;
    margin:auto;
  }

.writing-bk-img{
  background-size:cover;
  background-position:center;
  padding:7rem;
  margin:auto;
  width:90%;
}

.thesis-bk-img{
  background-image: url("/images/nmv-pancakes.jpeg");
}

.pd-bk-img{
  background-image: url("/images/mex-oatbowl.jpg");
}

.bgt-bk-img{
  background-image: url("/images/Verdon-houses-in-Bogota.jpg");
}


.wsp-bk-img{
  background-image: url("/images/Verdon-piece-photo.jpg");
}

.wine-bk-img{
  background-image: url("/images/tashwine.jpg");
}

.stpatty-bk-img{
  background-image: url("/images/st.pattyday.jpg");
}

.thesis{
  margin:0;
  margin-bottom:50px;
}

.blue-hover:hover{
  color: #94b3ba;
}

.orange-hover:hover{
  color: #BB5C2f;
}

.pink-hover:hover{
  color:#e4cabc;
}

.yellow-hover:hover{
  color:#e5bc5c;
}

.purple-hover:hover{
  color: #c8b0b4;
}


/* lightbox - Food */

[class*=grid-]>[class*=col-4], [class*=grid_]>[class*=col-4], [class~=grid]>[class*=col-4]{
  max-width:31.3333%;
}


.gallery-image{
  height:10vh;
}



.featured-gallery{
  padding:3rem 3rem 1rem 3.5rem;
  background-color:white;
}



h3 {
  font-size:25px;
}

.gallery-item{
  padding:15px;
  padding-top:0;
  padding-bottom:30px;
  margin: 6px;
}


.gallery-image{
  padding:40%;
  background-size: cover;
  background-position: center;
  position:relative;
}



.heading-mobile{
  display:none;
}

/* Web Dev  */

.testimonial-web{
  padding: 2rem 5rem;
}

.web-title{
  text-align:center;
  padding-top:4rem;
  margin-top:1rem;
  background-color:#d5efe0;
}

.web-title h2{
  font-size:40px;
}

.overlay1{
  background-color:rgba(255, 255, 255, 0.7);
  padding:3rem;
}

.web-process h2{
  font-size:30px;
}

.media-img1, .media-img2, .media-img3, .media-img4{
  padding:1rem;
  padding-bottom:3rem;
}

.web-dev h2{
  padding-bottom:30px;
  font-weight:400;
  font-size:30px;
}


.web-dev div{
  border-radius:5px;
  text-align:center;
  margin:auto;
}

.web-dev{
  background-color:white;
}



.web-fixed{
    background-image:url("/images/plant-pic.jpg");
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}

.testimonial-web span{
  color:#e5bc5c;
}

.testimonial-web{
  padding: 4rem 9rem;
  background-color:#d5efe0;
}

.web-process{
  background-color:rgba(255, 255, 255, 0.8);

}

.web-process h2{
  font-size:30px;
  text-align:center;
}

.web-process h3{
  font-size:17px;
}

.process{
  margin-top:20px;
}

.process p{
  margin-bottom:35px;
}

.process h3{
  margin-top:6px;
}

/* ABOUT */

.about{
padding: 7.5rem 0 5rem;
background-color:#ffffff;
}


.footer{
  background-color:#c9e1d8;
  width:100%;
}


.form{
  padding:6rem 4rem 0;
}



input{
  width:90%;
}

.contact-button{
  background-color:#C2D8C8;
}

.contact-button:hover{
  background-color:#718b82;
}


.contact-media{
  padding-top:3rem;
}



.padded-bottom-1 h2{
  position:absolute;
}

.about-img{
  background-image: url("/images/tash-bali.jpg");
  background-position:center;
  background-size:cover;
}


.padded-top-3{padding-top:3%;}
.padded-top-5{padding-top:5%;}
.padded-5 { padding: 5%; }
.margin-bottom{margin-bottom:3rem;}

/* CV */

.cv-title{
  text-align:center;
}

.cv-img{
margin:auto;
background-image:url("/images/nmvresume2019png.png");
background-position:center;
background-size:cover;
padding: 30rem 0;
}

/* ARTICLES */



/* media queries */

@media (max-width: 1024){

  .mobile-up{
    order:1;
  }

  .title h1{
    padding-right:15px;
  }

  .social-media div{
    margin:auto;
    margin-left:0;
    margin-right:0;
  }
}
@media (max-width: 768px){
.cv-img{
  padding: 14rem 0;
}

.taco-image{
  display:none;
}


.main-title-name{
  position:relative;
}

.mobile-title{
  display:block;
}

.burger-button {
right:2vh;
}

.burger-menu{
right:0;
width:100%;
background-color: rgba(255,255,255,0.89);
height: 103vh;
background-color: rgba(255,255,255,0.89);
}

.burger-menu a{
font-size:30px;
white-space: normal;
}

.intro-text h3 {
    padding:4rem 2rem 2rem;
}

.intro-text{
  padding:0;
}

.intro-fixed{
  padding:2rem;
}


/* .parallax{
  padding:11rem;
} */

.testimonial{
  padding:2rem;
  font-weight: 400;
  font-style: normal;
  display: flex;
  height:109vh;
  align-items: center;
  justify-content: center;
}

.mySlides{
  position:relative;
}


.far, .fas{
  rgba(250,250,250,0.2);
}


.testimonial p{
  padding: 9rem;
  text-align:center;
}

/* .slide2{
  padding-top:6rem;
} */

.far, .fas{
  margin:5px;
  margin-top:2rem;
}




.services h2{
  padding:0 5rem;
}
.services-text h3{
  padding:20px 0rem 0 3rem;
}

.services-text{
  padding: 3rem 0;
  margin:0;
}

.services-text a{
  padding:20px 0rem 0 3rem;
}

.featured-gallery{
  padding:0;
  padding-top:4rem;
}


.social-media, .web-dev{
  padding:0rem;
  padding-top:4rem;
}

.social-media div{
  margin-bottom:15px;
}

.social-media nav{
  margin:0;
}



.web-dev h3{
  text-align:center;
  margin-bottom:20px;
}

.web-dev{
  padding-left: 0rem;
}

.web-title, .media-title, .blog-title{
  margin-top: 0rem;
  padding-bottom:2rem;
}

.about-img{
  padding:5rem;
}

.nashjo-img, .enemon-img, .ioc-img, .sif-img{
  padding:6rem;
}

.media-img2, .media-img3, .media-img4{
  padding:1rem;
}

ul{
  padding-left:17px;
}

.mobile-start{
  order:-1;
}

.slide1, .slide2, .slide2-test, .slide3, .slide4, .slide4-test {
  width:100%;
}

.social-testimonial{
  padding: 1rem 2rem 0;
}

/* lightbox cols */

[class*=grid-]>[class*=col-6], [class*=grid_]>[class*=col-6], [class~=grid]>[class*=col-6], [class*=grid-]>[class*=col-12], [class*=grid_]>[class*=col-12], [class~=grid]>[class*=col-12]{
  max-width:100%;
}
[class*=grid-]>[class*=_sm-12], [class*=grid_]>[class*=_sm-12], [class~=grid]>[class*=_sm-12]{
  max-width:100%;
}

/* writing cols */
[class*=grid-]>[class*=col-6], [class*=grid_]>[class*=col-6], [class~=grid]>[class*=col-6]{
  max-width:100%;
}

/* Media cols  */
[class*=_sm-12]>[class*=col-], [class*=_sm-12]>[class*=col_], [class*=_sm-12]>[class~=col]{
  max-width:100%;
}

.social-media ul{
  padding:0;

}

.writing_radio a{
  margin:0;
  margin-bottom:20px;
}

.writing_radio h3{
width:100%;
}


.gallery-item{
  margin:2px;
}

.heading-mobile{
  display: block;
  padding-bottom:20px;
  text-align:center;
}
.social-media-clients{
  margin-right:0;}

.social-media-clients h3{
  padding: 1rem 0;
  font-size: 23px;
}

.media-side-img{
  display:none;
}


.social-media p, .social-media h2{
  width:100%;
  margin:auto;
  padding: 0 31px;
}

.intro-img-1, .intro-img-3{
  display:none;
}

.intro-img-2{
  margin:auto;
  margin-top:15px;
  padding:0;
}

.testimonial-web{
  padding:2rem;
}

.web-process{
  padding:2rem;
}

.writing_radio{
  padding: 3rem 0rem;
padding-left: 1rem;
}

/* burger menu */


  .mobil-menu{
    display:block;
  }

  .burger-menu{
    display:block;
  }

  .nav-menu{
    display:none;
  }

  .burger-button{
    position:fixed;
    top:4vh;
    right:0vh;
    z-index:9;
    padding:8px;
  }

  .burger-button span{
    width:30px;
    border: 2px solid #e3b053;
    background-color:#e3b053;
    display: block;
    border-radius:22px;
    transition: 1s;
  }

  .burger-button.active span{
    background-color:#e3b053;
  }

  .burger-top, .burger-bottom{
    position:absolute;
  }

  .burger-top{
    top:02px;
  }

  .burger-bottom{
    bottom:2px;
  }

  .burger-button.active .burger-middle{
/*   transform: rotateZ(270deg); */
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}


.burger-menu {
    display: none;
    width:100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color:rgba(250, 250, 250, 0.9);
    z-index: 8;
    padding-top:26px;
}

.burger-menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #7a7876;
  display:block;
  padding:1rem 2rem;
  text-align: center;
  white-space:nowrap;
}

.burger-menu li{list-style:none}

.display-none{
    display:none;
}

.overlay{
  display:none;
}




/* Featured */

.featured-blog{
  padding:2rem;
}

.featured-blog-info{
  padding:2rem 0;
}

.featured-blog-info h4{
  font-family: futura-pt, sans-serif;
  font-size:15px;
  font-style:italic;
}

.featured{
  padding:3rem;
  background-color:white;
}

.featured h2{
  /* transform: rotate(0deg); */
  text-align:left;
  border-left:none;
}

hr{
  display:none;
}

.featured-title{
  order:-1;
}

.featured{
  order:-1;
}

.featured1{
  margin:0;
}



.testimonial p{
  padding: 0px;
  margin:0;
  margin-left:0;

}

.about{
  padding:4.5rem 0 5rem;
}

.about-text{
  padding:10px;
}

.about-text p{
  padding: 2rem 3rem 4rem;
}

.title-about-text{
  padding: 4rem 2rem;
  text-align:center;
  width:100%;
  margin:auto;
}

.title-img{
  padding:11rem;
  order:-1;
}

.menu-img{
  padding:6rem;
}

.menu{
  padding:0;
}

.blog-loop-background{
  padding: 6rem;
  margin: 2rem;
  background-position: center;
  background-size: cover;
}

.padded-5-10{
  padding:5% 4%;
}

.blog h3{
  margin-left:0;
}


.article-text h2{
  width: 70%;
padding: 2rem 0;
}

.article-text{
  padding:2rem;
  margin-top:14rem;
}

.blog-grid{
  padding: 0 3rem 3rem;
}

.testimonial-web{
  padding:2rem 2rem 0;
}

.contact-button{
  width:36%
}

.bottom-images{
  margin-bottom:28.5rem;
}


.form{
  order:-1;
  margin-bottom:2rem;

}

.contact-media{
  padding-top:1rem;
}

.web-work-title{
  padding:6rem;
}

.web-work{
  padding:0;
}

.web-info, .services-info{
  padding:2rem;
}

.web-work h4{
  margin-bottom:15px;
}


.footer-menu{
  position: absolute;
  bottom: 2vh;
  width: 80%;
  left: 30px;
}

.form{
  padding:6rem 2rem 0;
}

}
