/*
---------------------------
Website Fonts: List fonts here for reference
Website Colours: List colour hex codes here for reference
----------------------------
*/

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;

}
body {
  color: rgb(60,60,60);
  /* font-family: 'Noto Serif JP', serif; */
}

img {
  max-width: 100%;
  max-height: 100%;

}

a{
  text-decoration:none;
  color: rgb(60, 60, 60)
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.padded-1 { padding: 1%; }
.padded-3 { padding: 3%; }
.padded-4 { padding: 4%; }
.padded-5 { padding: 5%; }
.padded-10 {padding: 10%; }
.padded-5-10 {padding: 5% 10%; }

.padded-top-1 { padding-top: 1%;}

.mob-show { display: none;}

.bg-img {
  background-color: grey;
  background-size: cover;
  background-position: center;
}

section{
  padding:4rem;
}

[class*=col-], [class*=col_], [class~=col]{
  padding:0;
  margin:0;
}

h2, h3{
  font-family: 'Abril Fatface', cursive;
}

p, a{
font-family: 'EB Garamond', serif;
}
/* nav  */

.space-around{
  display:flex;
  justify-content:space-around;
}

.nav-menu{
  padding-left:0;
}

.nav-menu a{
  border-bottom: 2px solid white;
}

.nav-menu a:hover{
  border-bottom: 2px solid #FFDB6B;
  color: #FFDB6B;
}

/* Title */

h1{
  font-size:47px;
}

.title p{
  padding: 1px 6rem;
}

.title section{
  height: 90vh;
}

.title div{
  padding: 3rem;
}

/* services */

.services div{
  padding: 3rem;
  margin:0.5rem;
  transition: 0.2s;
}

.serv-head{
  padding:0;
  font-size: 40px;
  margin-bottom:-38px;
  z-index:6;
  margin-left:32px;
}


.services h3{
  padding-bottom:15px;
  font-size:24px;
}

.services p{
  padding-left:35px;
}

.webdev{
  background-color:#e5bc5c;
  padding:4rem 3rem;
}

.writing{
  background-color: #94b3ba;
}

.food{
  background-color:#e4cabc;
}


.media{
  background-color: #c8b0b4;
}

.blog{
  background-color:#BB5C2F;
}

.blog h4{
  text-align:right;
  padding:10.5px 0;
}

.blog-wrap div{
  margin:0px;
  padding:0;
}

.services h3:hover{
  font-size:20px;
}

.services{
  margin-top:-5px;
}

.section-title div{
  padding:0px;
  z-index:1;
}


/* ABOUT */

.about-text{
  background-color: #d2ebdd;
  width:88%;
  margin:auto;
  margin-top:3rem;

}

.about-img{
  background-image:
}

/* Media*/

.header{
  padding-bottom:4rem;
  padding-top: 4rem;
  background-color:#AAF8D4;
  margin:auto;
  width:90%;
  margin-top:15px;
}

.social-media, .web-dev{
  padding:4rem;
  padding-top:2rem;
}

.left-text, .right-text{
  padding:2rem;
  border:2px solid rgb(80,80,80);
}

.push-right1{
  /* background-image: url("/images/chickencurry.png") */
}


.social-media div{
  margin-bottom:50px;
}


.social-media h3{
  background-color:white;
  margin-top:-53px;
  font-size:32px;
  text-align:center;
  width:192px;
  padding-bottom: 20px;
}

.enemon h3{
  width: 121px;
}

.ioc h3{
  width: 239px;
}

.miika-kivilo h3{
  width:234px;
}

.nashjo h3{
  width:180px;
}

.thesis h3{
  width:100%;
}

.bogota h3{
  width:520px;
}

.podcast h3{
  width:573px;
}

.box{
  padding:3rem;
}
