---
layout: default
title: Web Development
main_heading: Web Development
featured_image: /uploads/web-dev.png
description_html: >-
  <p>Your website is like a second skin, it displays who you are, your hopes,
  your goals, your business dreams. It&rsquo;s time to show the world (wide web)
  exactly who you are, one piece of code at a time.</p>
process:
  - title: Research
    process_html: >-
      <p>Before diving into any project, I meet 1:1 with you to go over your biz
      goals, your web vision, and how to bridge the two.&nbsp;</p><p>Then come
      the hours of research and falling down endless Pinterest rabbit holes so
      that we can then&hellip;</p>
  - title: Design
    process_html: >-
      <p>Create a customized design aimed at achieving your professional
      goals!</p><p>&nbsp;I use strategic UX design guaranteed to boost
      conversions and drive sales. &nbsp;</p>
  - title: Develop
    process_html: >-
      <p>Once we&rsquo;ve finalized the look and feel of your new page, then
      comes the fun part:<br />&lt;coding/&gt;</p><p>Each of my builds are fully
      responsive and optimized to help clients find and stay on your
      page.&nbsp;</p>
  - title: Launch
    process_html: >-
      <p>After your page is built out and primed, we&rsquo;ll do a full review
      and breakdown together. Each site is made to be fully customizable by you
      at any time.</p><p>And then just like that a star is born!</p>
---

<section class="grid web-dev">
  <div class="col-6_sm-12 mobile-none">
    <img src="{{page.featured_image}}">
  </div>

  <div class="col-6_sm-12 web-dev-title centered">
    <h2> Web Design + Development </h2>
    <br>
    <p>{{page.description_html}} </p>
    <br>
    <a href="/contact.html" class="primary-button">Book a consult </a>
  </div>

<div class="col-12 portfolio">
  <div class="grid">
    {% for project in site.projects limit:6 %}

    <div class="col-4_md-6_sm-12 project-sample centered">
      <a href="{{project.url}}" style="background-image:url({{project.landing_image}}); min-height:350px;"/></a>
      <h3> {{project.brand_title}} </h3>
      <br>
      <a href="{{project.url}}"><span class="work-together low-light editable"> Explore </span></a>
    </div>

    {% endfor %}
</div>

  <a href="/archive.html" class="col-12 secondary-button"> See more </a>
</div>


  <div class="col-12 the-process">
    <h2> The Process </h2>
    <div class="grid">
      {% for item in page.process %}

      <div class="col-3_sm-12 process-text">
        <h3>{{item.title}}</h3>
        <p>{{item.process_html}}</p>
      </div>

      {% endfor %}
  </div>

  <h4> Want to know more? Book a consultation call for a customized review!</h4>
  <br>
  <a href="/contact.html" class="primary-button"> Book a consult </a>

</section>
