---
layout: default
title: Gallery
featured-gallery:
  - featured_image: /images/Isabel-Allende.jpg
    name: Isabel Allende
    subtitle: Chilean-American New York Times best-selling author and advocate for the rights of women and girls
    quote: I became a feminist without knowing that I was a feminist because the word was not used in Chile at the time. I was fourteen, fifteen, and I was so angry at the world. I could see the patriarchy everywhere, and I was so rebellious against all kinds of male authority. Everything bothered me.
  - featured_image: /images/SoHyun-Bae.jpg
    name: Sohyun Bae
    subtitle: Korean-American Artist
    quote: The challenge for me as an artist is to walk the narrow path toward recognition without sacrificing hunger. Complacency equals death.
  - featured_image: /images/Graciela-Chichilnisky.jpg
    name: Graciela Chichilnisky
    subtitle: Argentinian-American scholar and climate change influencer
    quote: The only genuine source of happiness in life is the feeling of being useful to others.
  - featured_image: /images/Wafaa-El-Sadr.jpg
    name: Wafaa El Sadr
    subtitle: Egyptian-American physician and infectious disease specialist
    quote: When I hear people making judgements about doctors who are foreign graduates, I think to myself, just wait and see. You don't know what that person is capable of or what they will accomplish one day, if given the chance.
  - featured_image: /images/Chitra-Divakaruni.JPG
    name: Chitra Divakruni
    subtitle: Indian-American author and women’s rights defender
    quote: I think that it’s important for women to see that you can be a fine woman, and you don’t have to be perfect. It’s not natural to expect anyone to be perfect. We are human with our imperfections, and that is part of what makes us humane and beautiful.
  - featured_image: /images/Han-Feng.jpg
    name: Han Feng
    subtitle: Chinese-American fashion and interior designer
    quote: Everywhere in the world, I feel at home.
  - featured_image: /images/Einav-Geffen.jpg
    name: Einav Geffen
    subtitle: Israeli-American chef and food services executive
    quote: We all started with peeling potatoes.
  - featured_image: /images/Ilana-Goor.jpg
    name: Ilana Goor
    subtitle: Israeli-american artist and museum curator
    quote: It takes forever to know oneself and to understand what you are doing and what you want to become. Nobody can tell you, it has to come from you.
  - featured_image: /images/Mi-Jong.jpg
    name: Mi Jong
    subtitle: Korean-American clothing designer and businesswoman
    quote: “When one collection ends, I can’t wait to start design for the next season. That is a time to dream. It is time to put things together, and I can’t wait to see what I find out about myself as I’m going through this process.”
  - featured_image: /images/Hung-Liu.jpeg
    name: Hung Liu
    subtitle: Chinese-American Painters
    quote: Even when I grew up, I experienced oppression, placed into the box of being a woman who is supposed to act and be a certain way. You’re expected to be a mother, wife, and grandma, and you’re kept in your place. Although it is nice to be taken care of, I didn’t want to just be rescued. I don’t want to be a victim. I want to be a soldier and fight for my own rights and for women’s freedom and dignity.
  - featured_image: /images/Nergis-Mavalvala.jpg
    name: Nergis Mavalvala
    subtitle: Pakistani-American astrophysicist
    quote: Some people get uprooted by being seen as outsiders. For me, it gave me freedom.
  - featured_image: /images/Jacqueline-Murakete.JPG
    name: Jacqueline Murakete
    subtitle: Rwandan-American attorney and human rights leader
    quote: It’s one of the reasons I feel like I survived, to be able to tell the story about what happened to my family and the more than a million other people who were murdered in the 1994 Genocide against the Tutsi in Rwanda. I survived so that I can share that story and hopefully inspire people to start doing more to prevent genocide.
  - featured_image: /images/Olga-Murray.jpg
    name: Olga Murray
    subtitle: transylvanian-american lawyer, philanthropist, and children’s rights advocate
    quote: Out of the mud grows the lotus.
  - featured_image: /images/Argine-Safari.jpg
    name: Argine Safari
    subtitle: Armenian-American teacher of the year award winner
    quote: It is great to perform, but when you make someone’s life more meaningful and better, it is a completely different feeling.
  - featured_image: /images/Doris-Schechter.JPG
    name: Doris Schechter
    subtitle: Austrian-American entrepreneur, restaurateur,and philanthropist
    quote: We have the third generations of families coming to my store. For me there is such a beauty about that. I’ve done this and I have achieved this . . . to be a people person, to be proud of who I am and what I stand for.
  - featured_image: /images/Aroon-Shivdasani.jpg
    name: Aroon Shivdasani
    subtitle: Indian/Pakistani-American arts philanthropist
    quote: You don't have a soul unless you are involved in the arts, because through the arts, you learn history. You learn emotion. You learn tolerance. You understand other people.
  - featured_image: /images/Ashley-Tabaddor.jpg
    name: Ashley Tabaddor
    subtitle: Iranian-American lawyer, professor, and federal immigration judge
    quote: How can I possibly fight for a better community, a better country, if at the first chance that I'm being challenged, I would fold because it was convenient to close my eyes?
  - featured_image: /images/Gordana-Vunjak-Novakovich.JPG
    name: Gordana Vunjak-Novakovich
    subtitle: Serbian-American Biomedical Engineer and Medical Researcher
    quote: Professional accomplishment and the love for my family work together for me. What I learned is that my work is never done, the door is never closed. Being in academia becomes a lifestyle rather than a job, and I'm immersed in it.
  - featured_image: /images/Fabiola-Wilson.jpg
    name: Fabiola Wilson
    subtitle: Haitian-American US Army major (retired)
    quote: For those who think that women are mentally incapable of enduring the devastation of combat, I would say that women have been dealing with so much between discrimination and the servitud-type life, and we've had to fight for our rights. History has proven that we're mentally tough enough to endure life's challenges, whether it be combat or not.
  - featured_image: /images/Helena-Wong.JPG
    name: Helena Wong
    subtitle: Brazilian/Chinese-American international business executive and finance expert
    quote: I feel that my values are Chinese, my heart is Brazilian, and my pocket is American.
  - featured_image: /images/Monica-Yunus.jpg
    name: Monica Yunus
    subtitle: Bangladeshi-American opera singer and supporter of the arts
    quote: I stand on the shoulder of strong women who are immigrants, my mother and my grandmother, who made sure I knew the value of hard work and of sharing all of my gifts with the community.
---

<section class="grid gallery">
<div class="col-12 centered gallery-text">
  <h2> “The women I interviewed are all American immigrants who arrived here as infants, teenagers, and well into adulthood.  They came as long ago as 1936 and as recently as the 1980s, alone on a snowy evening or clutching familiar hands.  They escaped the atrocities of war, or fled wounds of a more emotional nature.  Their reasons for leaving the countries of their birth are as varied as their skin tones.  They are now all United States citizens.These women have achieved greatness; some are famous and some not so much.  You will see how much each made her neighborhood, her region, our planet a better place to live. Their stories are told in their own words.”</h2>
<br>
<h4>-Bilha Chesner Fish, from her Prologue</h4>
</div>

    {% for item in page.featured-gallery %}
          <div class="col-4_sm-6_xs-12 gallery-item">

        <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}">
          <div style="background-image:url({{item.featured_image}})" class="gallery-image">
            <div class="overlay"></div>
          </div>
        </a>

          <div class="centered gallery-info">
            <h2> {{item.name}} </h2>
            <h4> {{item.subtitle}} </h4>
            <br>
            <p>"{{item.quote}}"</p>
          </div>

      </div>

      {% endfor %}


      {% for item in page.featured-gallery offset:6 %}

      <a href="{{item.featured_image}}" data-lightbox="featured" data-title="{{item.heading}}"></a>

      {% endfor %}
</section>
