<section class="double-hamburger-menu">

<div class="header">
    <div class="wrapper">
      <nav class="nav">
        <div class="nav__container">
          <ul class="mobile-menu burger-menu grid">

            <div class="col-6 mobile-none">
              {% for post in site.posts limit:2 %}
                <div class="post-preview">
                  <div class="blog-loop-background index-blog-img" style="background-image:url({{post.featured_image}})">
                  </div>
                  <div class="blog-loop-info centered">
                    <h3> {{post.title}}</h3>
                    <br>
                    <a href="{{post.url}}" class="button-spread"><span> Read More</span> </a>
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="col-6_sm-12">
            <li class="menu-item">
            <a href="/">Home</a></li>

            <li class="menu-item">
            <a href="/web-dev">Web Design &<br> Development</a>
          </li>

            <!-- <li class="menu-item">
              <a href="/media">Digital Marketing</a>
            </li> -->

            <li class="menu-item">
              <a href="/blog">Blog</a>
            </li>

            <li class="menu-item">
              <a href="/contact">Contact</a>
            </li>
            </div>
          </ul>

        </div>

    </nav>

    <button class="hamburger__container mobile">
      <div class="hamburger">
        <i></i>
        <i></i>
        <i></i>
      </div>
    </button>
  </div>
</div>
  </section>
