<section class="text-block {% if block.small-height == true %} small-height {% endif %} {% if block.medium-height == true %} medium-height {% endif %} {% if block.full-height == true %} full-height {% endif %} centered" style="background-color:{{block.background_color}}">

<h1 style="color:{{block.font_color}}">{{block.heading}}</h1>

<br><br>


<p><span style="color:{{block.font_color}}"> {{block.description_html}}</span></p>

<br>
<a href="{{block.link_url}}" class="low-light work-together" style="color:{{block.font_color}}"> {{block.link-text}}</a>

</section>
