---
layout: default
---

<!-- <div class="col-12 article-img" style="background-image: url("{{page.featured_image}}");">
<img id="article-img" src="{{page.featured_image}}"/>
</div> -->

<div class="article-text">
  <h2> {{page.title}} </h2>

{{content}}

</div>


<div class="grid padded-5-10 blog-read-more centered">
  <div class="col-12 margin-bottom"><h2> More of the Good Stuff </h2></div>

  {% for post in site.posts limit:3 %}
    <div class="col-4_sm-12 post-preview">
      <div class="read-more-loop-background" style="background-image:url({{post.featured_image}})">
        </div>
      <div class="read-more-info">
        <h3> {{post.title}}</h3>
      </div>
      <a href="{{post.url}}" class="post-info"><h4> Read More</h4></a>
  </div>
  {% endfor %}

</div>
