<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172634637-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172634637-1');
</script>


  <!-- Mailchimp CSS -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  </style>
  <!-- Pinterest -->
  <meta name="p:domain_verify" content="e3e4af58bea0fb65e9ac08577cd22b5f"/>
  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">
  <!-- Adobe Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/prf4urf.css">
  <!-- viewport  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- GRIDLEX -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Animate on Scroll -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" media="all" onload="this.media='all'">
  <link rel="stylesheet" href="aos.css" >
  <!-- lightbox -->
  <link href="/lightbox.css" rel="stylesheet">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="/images/temporarylogo.png"/>
  <!-- OG Tags -->
    <title> Natasha Verdon </title>
    <meta property="og:title" content="Natasha Verdon"/>
    <meta property="og:url" content="https://natashaverdon.com"/>
    <meta property="og:image" content="/images/temporarylogo.png"/>
    <meta property="og:site_name" content="https://natashaverdon.com"/>
    <meta property="og:description"
          content="Hey! I am an anthropologist with a passion for food, travel, web design, and web development. I can help you create a space to display your product or brand!"/>
  <meta name="keywords" content"Web development, freelance web designer, freelance web developer, html, css, social media marketing, remote web developer, website design, portfolio design, freelance worker, how to build a website, html guides, ecommerce website, responsive web design, tips to building a good website, build a website, design website, how to design a website, instagram, Pinterest, Pinterest marketing, ebook, web design guide"/>
  <!-- Slick Slider -->
<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  <!-- my css file -->
  <link href="/editor.css" rel="stylesheet">
  <link href="/main.css" rel="stylesheet">
</head>
<body>

<!-- NEW -->
<nav class="primay-nav">
  <a href="/" class="logo">
    <img src="/images/nv-logo-black.png">
  </a>
</nav>

{% include double-burger-menu.html %}






{{content}}


{% include footer.html %}

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script src="aos.js"></script>
<script>
  AOS.init();
</script>

<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/ca53903035e98efb63de0ca4d/a05ca6f56e7c396f05d7a9ffb.js");</script>

<!-- <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true); </script> -->

<script async type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/lightbox-plus-jquery.min.js"></script>
<script src="/main.js"></script>

<!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            email: "natashamverdon@gmail.com", // Email
            call_to_action: "Have a question?", // Call to action
            position: "right", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->

<script type="text/javascript" src="slick/slick.min.js"></script>

</body>
</html>
