---
layout: default
---

<section class="grid web-work">
    <div class="col-12 web-work-title" style="background-image:url({{post.featured_image}})">
    </div>

  <div class="grid web-info">
    <div class="col-7_sm-12 brand-info">
      <h2> {{page.brand_title}} </h2>
      <h3> {{page.tags}}</h3>
      <p> {{page.brand_info}} </p>
    </div>

    <div class="col-5_sm-12 services-info">
      <h3> Services </h3>
      <p> {{page.services}}</p>
      <br>
      {{content}}
    </div>
  </div>

  <div class="col-12 web-page">
  <img src="{{page.web_page}}"</>
</div>
</section>
